{% assign myNumber = 1 %} {% case myNumber %} {% when 1 %} {% capture var_color
%}green {% endcapture %} {% when 2 %} {% capture var_color %}green {% endcapture
%} {% when 3 %} {% capture var_color %}green {% endcapture %} {% when 4 %} {%
capture var_color %}green {% endcapture %} {% when 5 %} {% capture var_color
%}green {% endcapture %} {% when 6 %} {% capture var_color %}green {% endcapture
%} {% when 7 %} {% capture var_color %}green {% endcapture %} {% when 8 %} {%
capture var_color %}green {% endcapture %} {% when 9 %} {% capture var_color
%}green {% endcapture %} {% when 10 %} {% capture var_color %}green {%
endcapture %} {% when 11 %} {% capture var_color %}green {% endcapture %} {%
when 12 %} {% capture var_color %}green {% endcapture %} {% endcase %}

<div class="col-sm-6 col-md-4">
  <a href="{{ post.url }}">
    <div class="card">
      <img class="card-img-top" src="/assets/images/free-stock-photos.gif" />
      <div class="card-block">
        <figure class="card-profile">
          <img
            alt=""
            class="card-profile-avatar"
            src="/assets/images/logos/theme-logo-white.png"
          />
        </figure>
        <h4 class="card-title mt-3">{{ post.title }}</h4>
        <div class="card-meta">
          <a>{{ post.excerpt | strip_html | newline_to_br }}</a>
        </div>
        <div class="card-text">{{ item.summary }}</div>
      </div>
      <div class="card-footer">
        <small>{{ post.date | date: "%d %b/%Y %H:%M" }}</small>
        <a href="{{ post.url }}" class="btn btn-primary">Clique aqui</a>
      </div>
    </div>
  </a>
</div>
