<a data-via="mozgbrasil" data-url="http://mozgbrasil.github.io/" data-text="MOZG & Magento 2.0 is out!" href="http://twitter.com/share" class="twitter-share-button twitter"></a>
<script type="text/javascript">
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
    	t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
    	t._e.push(f);
      };
     
      return t;
    }(document, "script", "twitter-wjs"));
</script>
