{% include snippet-facebook-setup-SDK.html %}
{% include snippet-twitter-setup-SDK.html %}
{% include snippet-google-setup-SDK.html %}


    {% comment %}
    {% include snippet-google-hangout-button.html %}
    {% endcomment %} 

                        <dd>
                            {% include snippet-facebook-like-button.html %}
                        </dd>
                        <dd>
                            {% include snippet-facebook-send-button.html %}
                        </dd>
                        <dd>
                            {% include snippet-twitter-follow-button.html %}
                        </dd>
                        <dd>
                            {% include snippet-twitter-tweet-button.html %}
                        </dd>
                        <dd>
                            {% include snippet-linkedin-share.html %}
                        </dd>
                        <dd>
                            {% include snippet-google-plus-button.html %}
                        </dd>
