{% include snippet-facebook-setup-SDK.html %}
{% include snippet-twitter-setup-SDK.html %}
{% include snippet-google-setup-SDK.html %}

{% comment %}
{% include snippet-google-hangout-button.html %}
{% endcomment %}

<li>
x
</li>
<li>
{% include snippet-facebook-like-button.html %}
</li>
<li>
{% include snippet-facebook-send-button.html %}
</li>
<li>
{% include snippet-twitter-follow-button.html %}
</li>
<li>
{% include snippet-twitter-tweet-button.html %}
</li>
<li>
{% include snippet-linkedin-share.html %}
</li>
<li>
{% include snippet-google-plus-button.html %}
</li>
