<div class="ui attached stackable menu">
   <div class="ui container">
      <a class="item" href="/">
      <i class="home icon"></i> Home
      </a>
      <a class="view-ui item">
      <i class="sidebar icon"></i> Menu
      </a>
      <div class="ui simple dropdown item">
         <i class="add to cart icon"></i> Produtos
         <i class="dropdown icon"></i>
         <div class="menu">
            <h1 class="ui header"><strong>Métodos de entrega</strong></h1>
            <div class="item">
               <i class="dropdown icon"></i>
               <span class="text">Correios</span>
               <div class="menu">
                  <a class="item" href="https://github.com/mozgbrasil/magento2-correios-php55">PHP 5.5</a>
                  <a class="item" href="https://github.com/mozgbrasil/magento2-correios-php56">PHP 5.6</a>
               </div>
            </div>
            <div class="item">
               <i class="dropdown icon"></i>
               <span class="text">Correios Exporta Fácil</span>
               <div class="menu">
                  <a class="item" href="https://github.com/mozgbrasil/magento2-correios-php55">PHP 5.5</a>
                  <a class="item" href="https://github.com/mozgbrasil/magento2-correios-php56">PHP 5.6</a>
               </div>
            </div>
            <div class="item">
               <i class="dropdown icon"></i>
               <span class="text">Jadlog</span>
               <div class="menu">
                  <a class="item" href="https://github.com/mozgbrasil/magento2-jadlog-php55">PHP 5.5</a>
                  <a class="item" href="https://github.com/mozgbrasil/magento2-jadlog-php56">PHP 5.6</a>
               </div>
            </div>
            <div class="item">
               <i class="dropdown icon"></i>
               <span class="text">Jamef</span>
               <div class="menu">
                  <a class="item" href="https://github.com/mozgbrasil/magento2-jamef-php55">PHP 5.5</a>
                  <a class="item" href="https://github.com/mozgbrasil/magento2-jamef-php56">PHP 5.6</a>
               </div>
            </div>
            <div class="divider"></div>
            <h2 class="ui header"><strong>Métodos de pagamento</strong></h2>
            <div class="item">
               <i class="dropdown icon"></i>
               <span class="text">Banco Itau</span>
               <div class="menu">
                  <a class="item" href="https://github.com/mozgbrasil/magento2-jamef-php55">PHP 5.5</a>
                  <a class="item" href="https://github.com/mozgbrasil/magento2-jamef-php56">PHP 5.6</a>
               </div>
            </div>
            <div class="item">
               <i class="dropdown icon"></i>
               <span class="text">Banco Bradesco</span>
               <div class="menu">
                  <a class="item" href="https://github.com/mozgbrasil/magento2-jamef-php55">PHP 5.5</a>
                  <a class="item" href="https://github.com/mozgbrasil/magento2-jamef-php56">PHP 5.6</a>
               </div>
            </div>
         </div>
      </div>
      <a class="item" href="/contato/">
      <i class="at icon"></i> Contato
      </a>
      {% comment %}
      <div class="ui simple dropdown item">
         <i class="google icon"></i> Hangout
         <i class="dropdown icon"></i>
         <div class="menu">
            <div class="item">
               <span class="text">{% include snippet-google-hangout-button.html %}</span>
            </div>
         </div>
      </div>
      {% endcomment %}
      <div class="right item" style="width: 200px;padding: 0px;">
	{% include snippet-google-custom-search.html %}
	{% comment %}
	{% include snippet-jekyll-search.html %}
	{% endcomment %}
      </div>
   </div>
</div>

