{% include snippet-facebook-setup-SDK.html %} {% include
snippet-twitter-setup-SDK.html %} {% comment %} {% include
snippet-google-hangout-button.html %} {% endcomment %}

<li>
  <!-- https://buttons.github.io/ -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Place this tag where you want the button to render. -->
  <a
    class="github-button"
    href="https://github.com/mozgbrasil"
    data-size="normal"
    data-show-count="true"
    aria-label="Follow @mozgbrasil on GitHub"
    >Follow @mozgbrasil</a
  >
</li>
<li>
  {% include snippet-facebook-like-button.html %}
</li>
<li>
  {% include snippet-facebook-send-button.html %}
</li>
<li>
  {% include snippet-twitter-follow-button.html %}
</li>
<li>
  {% include snippet-twitter-tweet-button.html %}
</li>
<li>
  {% include snippet-linkedin-share.html %}
</li>
<li>
  {% include snippet-google-plus-button.html %}
</li>
