
<!-- Require template -->
<script src="//www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.min.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-messages.min.js"></script> 
<script src="//www.google.com/analytics/js/tag-manager.min.js"></script> 

<!-- snippet-google-tag-manager -->
{% include snippet-google-tag-manager.html %}

<!--  JavaScript requires jQuery -->
<script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"></script>

{% if page.path contains '_posts' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.1/anchor.js"></script>
<script>
/* http://bryanbraun.github.io/anchorjs/#basic-usage */
$( document ).ready(function() {
    anchors.add('.article-body h1, .article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6');
    /* anchors.add('.article-body > p'); */
});
</script>
{% endif %}
{% comment %}
{% endcomment %}

<script src="/assets/js/internal/utils.js"></script>