
<!-- snippet-google-tag-manager -->
{% include snippet-google-tag-manager.html %}

{% if page.path contains '_posts' %}
<!-- http://bryanbraun.github.io/anchorjs/#basic-usage -->
<script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
<script>
anchors.add('.article-body h1, .article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6');
</script>
{% endif %}

{% comment %}
<script src="/assets/js/internal/utils.js"></script>
{% endcomment %}

<script src="/assets/javascript/jquery-lazy/jquery.lazy.min.js"></script>
<script src="/assets/css/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/application.js?6-5-0"></script>
