
/* google-blue */

.google-blue {
    background-color: #448aff;
}

/* section-hero */

.section-hero {
    min-height: 400px;
    padding: 0;
    color: #fff;
    background-image: url("//www.google.com/intl/pt-BR/drive/images/home/intro-1600.jpg")
}

.section-hero-copy h1 {
    color: #fff;
    font-weight: 700;
}

/* table th */

table th {
    color: #000;
}

/* maia-signature */

#maia-signature {
    clear: both;
    max-width: 978px;
    margin: 0 auto;
    min-height: 3px
}

#maia-signature:after,
#maia-signature:before {
    content: "";
    float: right;
    height: 3px
}

[dir=rtl] #maia-signature:after,
[dir=rtl] #maia-signature:before {
    float: left
}

#maia-signature:before,
[dir=rtl] #maia-signature:after {
    border-left: 35px solid #ffa900;
    border-right: 34px solid #00a753
}

#maia-signature:after,
[dir=rtl] #maia-signature:before {
    border-left: 34px solid #0089fa;
    border-right: 35px solid #ff002b;
    border-width: 0 25.5px 0 26.25px
}

#maia-signature:before,
[dir=rtl] #maia-signature:after {
    border-width: 0 26.25px 0 25.5px
}

@media print {
    a {
        color: inherit
    }
    #maia-header h1 img {
        display: block
    }
    #maia-header a {
        text-decoration: none
    }
    #maia-footer,
    #maia-header .maia-teleport,
    #maia-signature,
    .maia-nav {
        display: none
    }
}