---
layout: compress
---
<!DOCTYPE html>
<html lang="pt" class="no-js">
    <head>
        {% include tags_head.html %}
    </head>
    <body>
        <div class="site-wrapper blog-overview">
            <nav class="navbar navbar-fixed-top navbar-transparent collapse" role="navigation">
                <span role="button" aria-label="Toggle Navigation" class="navbar-toggle collapsed hidden-md-up x-button close" aria-exanded="false">
                <span class="menu-lines"></span><span class="mobile-menu-text"> </span>
                </span>
                <div class="navbar-brand__logo-container text-center">
                    <a href="/">
                    <img src="/assets/images/logos/theme-logo-white.png" class="navbar-brand__logo navbar-brand__logo--mobile navbar-brand__logo-white--mobile hidden-md-up" alt="MOZG" title="MOZG">
                    <img src="/assets/images/logos/theme-logo-green.png" class="navbar-brand__logo navbar-brand__logo--mobile navbar-brand__logo-green--mobile hidden-md-up" alt="MOZG" title="MOZG">
                    </a>
                </div>
                <div class="navbar-inner">
                    <a class="navbar-brand" href="/">
                    <img src="/assets/images/logos/theme-logo-green.png" class="navbar-brand__logo-mozg logo-mozg--green" alt="Green MOZG Logo" title="MOZG">
                    <img src="/assets/images/logos/theme-logo-white.png" class="navbar-brand__logo-mozg logo-mozg--white" alt="White MOZG Logo" title="MOZG">
                    </a>
                    {% assign variable = site.top_menu %}
                    {% include {{variable}} %}
                    {% comment %}
                    <div class="main-navigation-right pull-right">
                        <a class="menu__search-button" href="#"><i class="icon-theme-search-left"></i></a>
                        <div class="btn-group">
                            <span role="button" class="btn dropdown-toggle hidden-lg-up" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</span>
                            <ul class="nav navbar-nav dropdown-menu">
                                <div class="popover-arrow"></div>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" title="Developers">Developers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" title="Support">Support</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" id class="btn ">Criar conta teste</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </nav>
            <div class="header header--big header--left" style="background-color: grey">
                <div class="header__image lazy" data-src="/assets/images/backgrounds/mascote-cerebrum-3d.png">
                    <noscript>
                        <div class="header__image" src="/assets/images/backgrounds/mascote-cerebrum-3d.png" style="background-image:url('/assets/images/backgrounds/mascote-cerebrum-3d.png');">
                    </noscript>
                    <div class="header__overlay">
                    <div class="inner-container">
                    <div class="header__page-title">
                    <h1>&nbsp;</h1>
                    <p class="blog__header-summary">&nbsp;</p>
                    {% comment %}
                    <div class="header__actions header__actions--padding">
                    <a href="#" id="read" class="btn">Leia mais</a>
                    </div>
                    {% endcomment %}
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="content">
                    {{ content }}
                    {% comment %}
                    <div class="row area--white">
                        <div class="inner-container div--no-padding-top">
                            <div class="col-md-12 text-center">
                                <a href="#" id="view-older" class="btn btn-blog">Posts antigos</a>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
        <footer class="row footer area--dark">
            <div class="inner-container">
                <div class="row">
                    <div>
                        <div class="column col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-0 footer__linklist">
                            <ul>
                                <li class="footer-title">
                                    <a href="#" class="footer-link">Páginas</a>
                                </li>
                                {% assign sorted_pages = site.pages | sort:"order" %}
                                {% for node in sorted_pages %}
                                {% if node.title %}
                                {% if node.permalink == "" %}
                                {% capture icon_tag %}home{% endcapture %}
                                {% elsif node.permalink == '/sobre-nos/' %}
                                {% capture icon_tag %}copyright{% endcapture %}
                                {% elsif node.permalink == '/contato/' %}
                                {% capture icon_tag %}at{% endcapture %}
                                {% elsif node.permalink == '/category/' %}
                                {% capture icon_tag %}idea{% endcapture %}
                                {% elsif node.permalink == '/tag/' %}
                                {% capture icon_tag %}tag{% endcapture %}
                                {% else %}
                                {% capture icon_tag %}home{% endcapture %}
                                {% endif %}
                                <li>
                                    <a class="footer-link" href="{{ node.url | prepend: site.baseurl }}"><i class="{{ icon_tag }} icon"></i>{{ node.title }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="column col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-0 footer__linklist">
                            <ul>
                                <li class="footer-title">
                                    <a href="#" class="footer-link">RSS & Feed</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="{{ "/sitemap.xml" | prepend: site.baseurl }}"><i class="icon sitemap"></i>Sitemap</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
                                </li>
                            </ul>
                        </div>
                        <div class="column col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-0 footer__linklist">
                            <ul>
                                <li class="footer-title">
                                    <a href="#" class="footer-link">Social</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon twitter"></i>twitter</a>
                                </li>
                                <li>
                                    <a class="footer-link" class="item" href="https://www.youtube.com/channel/UCiXR9cKwxNKMehSnqXvhtug"><i class="icon youtube"></i>youtube</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://github.com/{{ site.github_username }}"><i class="icon github"></i>github</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://www.facebook.com/{{ site.facebook_username }}"><i class="icon facebook"></i>facebook</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://plus.google.com/117231578401378218759"><i class="icon google plus"></i>plus.google</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://mozgbrasil.wordpress.com/"><i class="icon wordpress"></i>wordpress</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="http://mozgbrasil.blogspot.com.br/"><i class="icon google"></i>blogspot</a>
                                </li>
                            </ul>
                        </div>
                        <div class="column col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-0 footer__linklist">
                            <ul>
                                <li class="footer-title">
                                    <a href="#" class="footer-link">Widgets</a>
                                </li>
                                {% include snippet-social-plugins.html %}
                            </ul>
                        </div>
                        <div class="column col-md-2 col-md-offset-2 col-xs-6 footer__language-selector ">
                            <ul>
                                <li class="footer-title">
                                    <a href="#" class="footer-link">Repositórios</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://bitbucket.org/mozgbrasil/">Bitbucket</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://github.com/mozgbrasil/">GitHub</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://packagist.org/packages/mozgbrasil/">Packagist</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://www.npmjs.com/~mozg">NPM</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column col-md-4 col-md-offset-0 col-xs-12 footer-buttons footer__sub-text">
                        &nbsp;
                    </div>
                    <div class="footer__sub-text column col-md-4 col-md-offset-4 col-xs-12 text-right">
                        <span class="footer-title">Copyright © {{ site.time | date: '%Y' }} MOZG</span>
                    </div>
                </div>
                <div class="row">
                    {% include snippet-google-ads.html %}
                </div>
            </div>
        </footer>
        {% include tags_footer.html %}
        <script src="/assets/js/jquery.lazy.min.js?6-5-0"></script>
        <script src="/assets/js/jquery.ba-postmessage.min.js?6-5-0"></script>
        <script src="/assets/js/bootstrap.min.js?6-5-0"></script>
        <script src="/assets/js/application.js?6-5-0"></script>
        <script>
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>
    </body>
</html>