---
layout: compress
---
<!DOCTYPE html>
<html lang="pt" class="no-js">
    <head>
        {% include tags_head.html %}
    </head>
    <body>

        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top ">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">MOZG</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% assign variable = site.top_menu %}
                {% include {{variable}} %}
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.excerpt }}</p>
          </div>
        </div>

        <div class="container">
            {{ content }}
          <hr>
        </div> <!-- /container -->

        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                            <h3> Páginas </h3>
                            <ul>
                                {% assign sorted_pages = site.pages | sort:"order" %}
                                {% for node in sorted_pages %}
                                {% if node.title %}
                                {% if node.title != "Debug" %}
                                <li>
                                    <a class="footer-link" href="{{ node.url | prepend: site.baseurl }}"><i class="{{ icon_tag }} icon"></i>{{ node.title }}</a>
                                </li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                            <h3> Social </h3>
                            <ul>
                                <li>
                                    <a class="footer-link" href="https://twitter.com/{{ site.twitter.username }}"><i class="icon twitter"></i>twitter</a>
                                </li>
                                <li>
                                    <a class="footer-link" class="item" href="https://www.youtube.com/channel/UCiXR9cKwxNKMehSnqXvhtug"><i class="icon youtube"></i>youtube</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://www.facebook.com/{{ site.facebook_username }}"><i class="icon facebook"></i>facebook</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://plus.google.com/117231578401378218759"><i class="icon google plus"></i>plus.google</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://mozgbrasil.wordpress.com/"><i class="icon wordpress"></i>wordpress</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="http://mozgbrasil.blogspot.com.br/"><i class="icon google"></i>blogspot</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="http://mozg.negocio.site"><i class="icon google"></i>business.google</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                            <h3> Widgets </h3>
                            <ul>
                                <li>
                                    <a class="footer-link" href="{{ "/sitemap.xml" | prepend: site.baseurl }}"><i class="icon sitemap"></i>Sitemap</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
                                </li>
                                {% include snippet-social-plugins.html %}
                            </ul>
                        </div>
                        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                            <h3> Repositórios </h3>
                            <ul>
                                <li>
                                    <a class="footer-link" href="https://bitbucket.org/mozgbrasil/">Bitbucket</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://github.com/mozgbrasil/">GitHub</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://packagist.org/packages/mozgbrasil/">Packagist</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://www.npmjs.com/~mozg">NPM</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                            <h3> Parceiros </h3>
                            <ul>
                                <li>
                                    <a class="footer-link" href="https://www.cerebrum.com.br/"><i class="icon sitemap"></i>CEREBRUM</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://www.comunidademagento.com.br/">Comunidade Magento</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="https://magento.com/">Magento</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="http://www.cloudways.com/en/?id=35053">Cloudways</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            <!--/.footer-->

            <div class="footer-bottom">
                <div class="container">
                    <p class="pull-left"> Copyright © {{ site.time | date: '%Y' }} MOZG </p>
                    <div class="pull-right">
                        &nbsp;
                    </div>
                </div>
                <div class="container">
                    {% include snippet-google-ads.html %}
                </div>
            </div>
            <!--/.footer-bottom-->
        </footer>

        {% include tags_footer.html %}

    </body>
</html>
