---
layout: default
---
{% comment %}
{{ site | debug }}
{{ page | debug }}
{{ site.posts | debug }}
{{ paginator | debug }}
{% endcomment %}

<div class="container bs-docs-container">
    <div class="row">
        <div role="main" class="">
            <div class="bs-docs-section">
                {{ content }}
            </div>
        </div>
    </div>
    <hr class="half-rule">
</div>
<div class="bs-docs-featurette">
    <div class="container">
        {% include snippet-disqus.html %}
        <hr class="half-rule">
    </div>
</div>
