---
layout: default
---
{% comment %}
{{ site | debug }}
{{ page | debug }}
{{ site.posts | debug }}
{{ paginator | debug }}
{% endcomment %}

<div role="main" class="main">
    <section class="section section-dark section-need-help light-blue">
        <div class="site-width">
            <div class="cols-row">
                <div class="section-success-copy">
                    <h1>
                    {{ page.title }}
                    </h1>
                    <p class="font-large">
                    {{ page.excerpt }}
                    </p>
                </div>
                <div class="col-6 col-offset-1 align-self-end section-success-card hidden-xs"></div>
            </div>
        </div>
    </section>
    <div id="maia-signature"></div>
    <section id="section-one" class="section article-body light-gray">
        <div class="site-width">
            {{ content }}
            <cite class="font-medium">
                <p class="devsite-content-footer-date" itemprop="datePublished"
                content="{{ page.date | date: "%Y-%b-%bT%H:%M" }}">
                    <p class="vertical-offset">
                        <a data-g-label="datePublished" data-g-event="Tag Manager: Overview" data-g-action="Firebase" class="link-more">Última atualização: {{ page.date | date: "%d %b/%Y %H:%M" }}</a>
                    </p>
                </p>
            </cite>
        </div>
    </section>
    <div id="maia-signature"></div>
    <section class="section section-solutions ">
        <div class="site-width">
            {% include snippet-disqus.html %}
        </div>
    </section>
</div>

{% comment %}
<div class="container bs-docs-container">
    <div class="row">
        <div role="main" class="col-md-9">
            <div class="bs-docs-section">
                {{ content }}
            </div>
        </div>
        <div role="complementary" class="col-md-3">
            <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix-top" style="">
                {% comment %}
                <ul class="nav bs-docs-sidenav">
                    <li class="">
                        <a href="#ancora-a-mozg">A MOZG</a> 
                        <ul class="nav">
                            <li class=""><a href="#ancora-a-cerebrum">A CEREBRUM</a></li>
                        </ul>
                    </li>
                </ul>
                {% endcomment %}
                <div id="nav-post-sidebar"></div>
                <a class="back-to-top" href="#top"> Ir ao topo </a>
            </nav>
        </div>
    </div>
    <hr class="half-rule">
</div>

<script type="text/javascript">

/*
var nav = [
    {
        label: 'Label 1',
        value: 'Value 1',
        children: [{
            label: 'Label 1.1',
            value: 'Value 1.1',
            children: []
        }]
    },
    {
        label: 'Label 2',
        value: 'Value 2.1',
        children: [{
            label: 'Label 2.1',
            value: 'Value 1.1',
            children: []
        }]
    },
];

console.log(nav);
*/

function findNodes(step, $this) {
    var selector = null;
    var object = {};
    object['children'] = [];
    if ($this) selector = $this.next('h' + step);
    else selector = $("h" + step);

    //console.log(tag);
    //console.log(selector);

    selector.each(function(){

        var args = arguments;
        //console.dir(args);

        element = args[1];

        //console.log(element);

        //console.dir(element);
        //console.dir($(this));

        elementLabel = element.innerHTML;
        elementLabel = element.innerText;
        elementId = element.id;
        elementValue = '#'+elementId;

        if(!elementId){
            return;
        }

        //console.warn(elementValue);
        //console.log(elementLabel);

        var innerObject = {
            label: elementLabel,
            value: elementValue
        };
        var nextHeading = findNodes(step + 1, $(this));
        if (nextHeading.children.length > 0) {
            innerObject.children = nextHeading['children'];
        }
        object['children'].push(innerObject);
    });

    return object;
}

nav = findNodes(1);

nav = nav['children'];

//console.log(nav);

//-

var menu = [];

(function build(elements) {
    menu.push('<ul class="nav bs-docs-sidenav">');
    jQuery.each(elements, function (i, val) {

        //console.log(i);
        //console.log(val);

        var itemLabel = val.label;
        var itemValue = val.value;

        //console.log(itemLabel);
        //console.log(itemValue);

        var itemElement = '<a href="'+itemValue+'">'+itemLabel+'</a>';
        menu.push('<li>', itemElement);
        build(val.children);
        menu.push('</li>');
    });
    menu.push('</ul>');
}(nav));

//console.log(menu);

newElementMenu = menu.join('');

//console.log(newElementMenu);

elementToInject = document.getElementById('nav-post-sidebar');
elementToInject.innerHTML = newElementMenu;

</script>
{% endcomment %}