---
layout: default
---
{% comment %}
{{ site | debug }}
{{ page | debug }}
{{ site.posts | debug }}
{{ paginator | debug }}
{% endcomment %}

<div class="row area--white">
    <div class="inner-container div--half-padding-bottom area--padding-large">
        <div class="col-md-12">
            {{ content }}
        </div>
    </div>
</div>
<div class="row area--white">
    <div class="inner-container div--no-padding-top">
        <div class="col-md-12 text-center">
            {% include snippet-disqus.html %}
        </div>
    </div>
</div>